body {
    height: 60%;
}

header
{
    background-color: brown;
    font-size: 50px;
    padding: 50px;
    height:20% ;
}

h1 {
    text-align: center;
    color: white;
}

p {
    margin: 5px;
    padding: 20px;
    font-size: 30px;
    font-family: Candara; 
}

#secondP {
    margin: 5px;
    padding: 20px;
    font-size: 30px;
    font-family: Candara; 
}

img {
    float: right;
    padding: 20px;
    width: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20%;
   
}


footer {
padding-top: 40px;
text-align: center;
}
