
h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
}

nav ul li {
    display: inline;
    margin: 15px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(248, 19, 198);
}

main ol li {
    list-style: decimal;
}

#firstItem {
    background-color: aqua;
    /* display: inline; */
}

.secondItem {
    background-color: blueviolet;
}

body {
    background-color: rgb(176, 176, 248);
}
